<h2><%= @user.name %></h2>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Description: </strong><%= @user.description %></p>

<form action="/projects"><input type="submit" value=" View All Project "></form><br>
<form action="/projects/new"><input type="submit" value=" Create Project "></form><br>
<form action="/logout"><input type="submit" value=" Log Out "></form>