<h2><%= @user.name %></h2>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Description: </strong><%= @user.description %></p>

<form action="/logout"><input type="submit" value=" Log Out "></form>

<!---- add projects here? ------>