<p>Log In or Sign Up as local business or local non-profit to create, edit or delete a project.</p><br>

<div class="btn-group">
    <button onclick="document.location='/'">Go to Profile</button>
    <button onclick="document.location='/logout'">Log Out</button>
</div>

<h2>All Projects</h2>

<% @projects.each do |project| %>
    <strong><%= project.user.name %><br>
    <strong>Position: </strong><%= project.title %><br>
    <img src="<%= project.image_url %>" height="150"><br>
    <strong>Information: </strong><%= project.information %><br><br>
<% end %>

<!-- how to reference back to the user.name? -->