<h3>Please create a project for your business or organization.</h3><br>

<form action="/projects" method="post">
    <label for="name"><strong>Title:</label>
    <input type="text" name="title" id="title" value=""><br><br>
    <label for="image_url">Image URL:</label>
    <input type="text" name="image_url" id="image_url" value="" size="100"><br><br>
    <label for="information">Information:</label>
    <input type="text" name="information" id="information" value="" size="100"><br><br>
    <input type="submit" name="" value="  Create Project  ">
</form>