<h2>All Projects</h2>

<% @projects.each do |project| %>
    <strong>Position: </strong><%= project.title %><br>
    <img src="<%= project.image_url %>" height="150"><br>
    <strong>Information: </strong><%= project.information %><br><br>
<% end %>

<!-- how to reference back to the user.name? -->