<div class="container">
  <form action="/projects"><input type="submit" value=" View All Volunteer Projects "></form><br>
  <form action="/login"><input type="submit" value=" Login "></form><br>
  <form action="/signup"><input type="submit" value=" Sign Up "></form><br>
  <p>Log In or Sign Up as local business or local non-profit to create, edit or delete a project.</p>
</div>
