<div class="btn-group">
  <button onclick="document.location='/projects'">View All Volunteer Projects</button>
  <button onclick="document.location='/login'">Login</button>
  <button onclick="document.location='/signup'">Sign Up</button>
</div>